:root {
    --header-bg-color:#C17767;
    --body-bg-color: #EDF5E1;
    --unread-bg-color: #6D98BA;
    --read-bg-color: #05386B;
    --form-bg-color: #379683;
    --text-color: #EDF5E1;
    --text-color-button: black;
    --reg-button-bg-color: #05386B;
    --del-button-bg-color: #bf3952;
}
/*  #5CDB95 #8EE4AF */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    background-color: var(--body-bg-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;
    background-color: var(--header-bg-color);
}

.title {
    font-size: 3rem;
    color: var(--text-color);
}

#clearButton {
    font-size: 1rem;
    height: 40px;
    width: 90px;
    margin: 10px 0 10px 10px;
    border-radius: 8px;
    background-color: var(--body-bg-color);
    color: var(--text-color-button);
}

.bookContainer {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin: 0;
    padding: 0 100px;
}

.bookCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    min-height: 300px;
    margin: 20px;
    padding: 20px;
    border-radius: 16px;
}

form {
    background-color: var(--form-bg-color);
    color: var(--text-color);
}

form p {
    margin: 0;
}

.combine {
    display: flex;
    gap: 32px;
}

label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-color);
}

#title,
#author {
    font-size: 1.5rem;
}

#pages,
select,
option {
    font-size: 1rem;
}

.unread {
    background-color: var(--unread-bg-color);
}

.read {
    background-color: var(--read-bg-color);
}

.cardText {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.cardProp {
    margin: 0 0 10px;
    color: var(--text-color);
}

.cardTitle {
    font-size: 2rem;
    font-weight: bold;
}

.cardAuthor {
    font-size: 1.5rem;
    font-style: italic;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
}

.readButton, 
.deleteButton, 
#addBookButton {
    margin: 0;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: var(--text-color);
    color: var(--text-color-button);
    font-size: 1rem;
}

.readButton:hover {
    background-color: var(--reg-button-bg-color);
    border-style: solid;
    border-color: var(--text-color);
}

.deleteButton:hover {
    background-color: var(--del-button-bg-color);
    border-style: solid;
    border-color: var(--text-color);
}