:root {
    --header-bg-color: #379683;
    --body-bg-color: #EDF5E1;
    --unread-bg-color: #5CDB95;
    --text-color: #EDF5E1;
    --reg-button-bg-color: #05386B;
    --del-button-bg-color: #bf3952;
}
/* #8EE4AF */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    background-color: var(--body-bg-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;
    background-color: var(--header-bg-color);
}

.title {
    font-size: 3rem;
    color: var(--text-color);
}

.headerButtons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#promptButton {
    font-size: 1rem;
    height: 40px;
    width: 90px;
    margin: 10px 0 10px 10px;
    border-radius: 8px;
    border-style: none;
    background-color: var(--text-color);
    color: var(--reg-button-bg-color);
}

#promptButton:hover {
    background-color: var(--reg-button-bg-color);
    color: var(--text-color);
    border-style: solid;
    border-color: var(--text-color);
}

#clearButton {
    font-size: 1rem;
    height: 40px;
    width: 90px;
    margin: 10px 0 10px 10px;
    border-radius: 8px;
    border-style: none;
    background-color: var(--text-color);
    color: var(--reg-button-bg-color);
}

#clearButton:hover {
    background-color: var(--del-button-bg-color);
    color: var(--text-color);
    border-style: solid;
    border-color: var(--text-color);
}

.hidden {
    display: none;
}

.visible {
    display: flex;
}

.addBookPrompt {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    padding: 10px 120px;
    background-color: var(--header-bg-color);
    color: var(--text-color);
}

form p {
    padding: 5px 10px;
    margin: 0;
}

#addBookButton {
    font-size: 1rem;
    height: 40px;
    width: 60px;
    margin: 0;
    border-radius: 8px;
    border-style: none;
    background-color: var(--text-color);
    color: var(--reg-button-bg-color);
}

#addBookButton:hover {
    background-color: var(--reg-button-bg-color);
    color: var(--text-color);
}

.bookContainer {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin: 0;
    padding: 0 100px;
}

.bookCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    min-height: 300px;
    margin: 20px;
    padding: 20px;
    border-radius: 16px;
    /*border-style: solid;
    border-color: var(--reg-button-bg-color);*/
}

.unread {
    background-color: var(--unread-bg-color);
}

.read {
    background-color: var(--reg-button-bg-color);
}

.cardText {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.cardProp {
    margin: 0 0 10px;
    color: var(--text-color);
}

.cardTitle {
    font-size: 2rem;
    font-weight: bold;
}

.cardAuthor {
    font-size: 1.5rem;
    font-style: italic;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
}

.readButton, .deleteButton {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border-style: none;
    background-color: var(--text-color);
}

.readButton:hover {
    background-color: var(--reg-button-bg-color);
    border-style: solid;
    border-color: var(--text-color);
}

.deleteButton:hover {
    background-color: var(--del-button-bg-color);
    border-style: solid;
    border-color: var(--text-color);
}